*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-content; 
} 

:root{
    --navy-blue: rgb(1, 1, 32); 
    --main-color: var(--navy-blue); 
}

body{
    overflow: overlay; 
}

header{ 
    /* display: flex;  
    flex-direction: column;  */
    background-color: var(--main-color); 
    width: 100%; 
    /* position: sticky;  */
    top: 0px;   
    z-index: 1;   
    /* this doesn't have a height, so how do you discern how low to position next element from the top? */
    /* position: sticky;   */
    /* position: -webkit-sticky;  */
    /* height: 60px;  */ 
}   

main{
    /* overflow: hidden; */ 
    display: block; 
} 

.logo-container{
    display: flex; 
    justify-content: center;  
    padding: 10px; 
    margin-bottom: 5px; 
}   

.logo-container a{
    text-decoration: none; 
}

.logo{
    font-family: Copperplate Gothic Light; 
    color: white; 
}

nav{
    display: flex; 
    justify-content: space-around; 
    border-top: 1px solid white; 
    padding: 10px; 
} 

.nav-link{
    color: rgb(199, 192, 192); 
    text-decoration: none; 
    font-family: Calisto MT;   
}   

.nav-link:hover{
    color: white; 
} 

/* Main content */ 
/* Night sky image */ 
#night-sky{
    background-image: url('./background-images/night-sky.jpeg');   
    background-position: no-repeat; 
    background-size: cover; 
    background-position: center; 
    width: 100%; 
    height: 600px; 
    display: flex; 
    flex-direction: column; 
    justify-content: center;  
} 

.image-text{
    width: 100%; 
    display: flex; 
    justify-content: center; 
    align-items: center;  
    /* margin-top: 250px;  */    
    text-shadow: 2px 2px black; 
} 

.image-text p{
    color: white; 
    font-size: 50px; 
    font-family: Calisto MT; 
    font-weight: bold; 
    padding: 5px; 
    justify-self: center; 
} 

#solar-bio{
    margin-top: 180px; 
    background-color: black; 
    display: flex; 
    align-items: flex-end; 
    height: 15 0px; 
    width: 100%; 
    justify-content: space-around; 
    opacity: .8; 
    justify-self: end;
}  

.solar-fact{
    color: white; 
    font-size: 30px; 
    padding: 20px; 
}  

/* solar system description */  
#descrip-container{
    display: flex; 
    flex-direction: column; 
    align-items: center; 
} 

#descrip-title{ 
    color: var(--main-color); 
    /* font-family: Metropolis, Helvetica, Arial, sans-serif;    */  
    font-family: Calisto MT; 
    font-size: 25px; 
    padding: 10px; 
    margin: 10px; 
} 

#descrips{
    display: flex; 
    flex-direction: column; 
}  

.descrip-par{  
    color: var(--main-color); 
    /* font-family: Metropolis, Helvetica, Arial, sans-serif;  */  
    font-family: Calisto MT; 
    margin: 15px 150px; 
    padding: 5px; 
    line-height: 1.5em; 
    font-size: 20px; 
} 

/* planet bio   */
#planet-bios{
    /* background-color: black;   */
    color: white; 
    background-image: url('./background-images/background-sky.jpg'); 
    display: flex; 
    justify-content: space-around; 
    /* flex-direction: column; 
    align-items: center;  */ 
    flex-wrap: wrap; 
} 

.planet-card{
    margin: 20px; 
    width: 500px; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    background-color: rgb(25, 25, 26); 
    /* opacity: 0.8;    */
    /* box-shadow: 10px 10px 20px rgb(131, 129, 129);     */
} 

.planet-img{
    width: 200px; 
    height: 200px;  
    /* border: 1px solid white;  */
    border-radius: 5px; 
    box-shadow: 5px 5px 100px rgb(150, 147, 147); 
} 

.planet-name{
    color: white; 
    text-decoration: none; 
    font-size: 25px;   
    /* font-family: Metropolis, Helvetica, Arial, sans-serif;  */  
    font-family: Calisto MT; 
    font-weight: bold; 
    margin: 10px; 
}

.planet-par{
    font-size: 20px; 
    /* font-family: Metropolis, Helvetica, Arial, sans-serif;      */  
    font-family: Calisto MT; 
    line-height: 1.5rem; 
    margin: 20px 10px; 
} 

/* ____________________________________________________ */
/* All planets */ 
.featured{
    display: flex; 
    justify-content: center; 
    align-items: center;  
}

.planet-title{
    color: white; 
    font-size: 60px; 
    letter-spacing: .5rem; 
    /* font-family: Metropolis, Helvetica,Arial,sans-serif;   */ 
    font-family: Calisto MT; 
    text-shadow: 2px 2px black; 
} 

.info{
    display: flex; 
    flex-direction: column; 
    align-content: center; 
    margin: 15px 150px; 
    padding: 5px; 
    /* background-color: rgb(233, 233, 242);  */
} 

.info-title{
    color: var(--main-color); 
    /* font-family: Metropolis, Helvetica, Arial, sans-serif;    */ 
    font-family: Calisto MT; 
    font-size: 25px; 
    padding: 10px; 
    margin: 10px;   
    /* display: flex; 
    justify-content: center;  */ 
    text-align: center; 
    border-bottom: 5px double rgb(1, 1, 32);   
} 

.par-container{
    color: var(--main-color); 
    display: flex; 
    flex-direction: column; 
    border-bottom: 5px double rgb(1, 1, 32); 
} 

.info-par{
    font-size: 20px; 
    /* font-family: Metropolis, Helvetica, Arial, sans-serif;      */  
    font-family: Calisto MT; 
    line-height: 1.5rem; 
    margin: 20px 10px; 
} 

.photo-gallery{
    /* background-color: rgb(228, 221, 221);  */
    background-image: url("./background-images/background-sky.jpg"); 
    /* background-size: cover;  */
    display: flex; 
    flex-direction: column; 
    align-items: center; 
} 

.photo-gallery h1{ 
    color: white; 
    font-size: 40px; 
    /* font-family: Metropolis, Helvetica, Arial, sans-serif;      */  
    font-family: Calisto MT; 
    padding: 15px 5px; 
    margin: 20px 5px; 
} 

.gallery-container{
    display: flex; 
    justify-content: start; 
    flex-wrap: wrap; 
}

.gallery-img{
    height: 300px; 
    width: 300px; 
    margin: 5px 10px; 
    border-radius: 20px;  
    box-shadow: 5px 5px 100px rgb(150, 147, 147); 
}  

.add-img-container{ 
    color: white; 
    background-color: var(--main-color); 
    height: 120px; 
    width: 300px; 
    margin: 50px 5px 20px; 
    display: flex; 
    flex-direction: column; 
    align-content: center; 
    justify-content: center; 
    border-radius: 20px; 
}  

.add-img-container h2{
    margin: 10px; 
}

.img-input{  
    height: 20px; 
    width: 180px; 
    margin: 10px; 
    border: 2px solid rgb(1, 1, 32); 
    border-radius: 5px; 
} 

.gallery-btn{
    color: white; 
    background-color: var(--main-color); 
    height: 20px; 
    width: px;  
    border: 1px solid white; 
    border-radius: 5px; 
    margin: 0px 10px; 
} 

.gallery-btn:hover{
    color: var(--main-color); 
    background-color: white;  
    border: 2px solid rgb(1, 1, 32); 
}

/* ____________________________________________________ */ 
/* Mercury */ 
#mercury-featured{
    background-image: url('https://www.nasa.gov/images/content/208698main_merc_horizon.jpg'); 
    background-size: cover; 
    height: 600px; 
} 

/* Venus */ 
#venus-featured{
    background-image: url('https://solarsystem.nasa.gov/rails/active_storage/disk/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdDVG9JYTJWNVNTSXBNVE01TWpjek5UTXRNRGs0WXkwMFl6Y3dMV0ZqTnpNdE5UTXdaV05qT0RJeE1ETmlCam9HUlZRNkVHUnBjM0J2YzJsMGFXOXVTU0pYYVc1c2FXNWxPeUJtYVd4bGJtRnRaVDBpVm1WdWRYTk5ZV0YwVFc5dWN6RXlNREIzTG1wd1p5STdJR1pwYkdWdVlXMWxLajFWVkVZdE9DY25WbVZ1ZFhOTllXRjBUVzl1Y3pFeU1EQjNMbXB3WndZN0JsUTZFV052Ym5SbGJuUmZkSGx3WlVraUQybHRZV2RsTDJwd1pXY0dPd1pVT2hGelpYSjJhV05sWDI1aGJXVTZDbXh2WTJGcyIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9rZXkifX0=--7c741df37920b9bd82c38ba3a27ba13e5fb28199/VenusMaatMons1200w.jpg'); 
    background-size: cover; 
    height: 600px; 
} 

/* Earth */ 
#earth-featured{
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/80f84b63-3f45-4367-ac2d-01cc319e0d75/d1d14ih-af8a3f1d-95a5-4cae-98b0-3d28ed0dbb1c.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzgwZjg0YjYzLTNmNDUtNDM2Ny1hYzJkLTAxY2MzMTllMGQ3NVwvZDFkMTRpaC1hZjhhM2YxZC05NWE1LTRjYWUtOThiMC0zZDI4ZWQwZGJiMWMuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.aL_Rvx5Ma1Vn4Yk3OlOEwpdRsHXf6RywrIl0ITCg-hU'); 
    background-size: cover; 
    height: 600px; 
} 

/* Mars */  
#mars-featured{
    background-image: url('https://www.spaceflightinsider.com/wp-content/uploads/2015/10/Mars-Nasa-1.jpg'); 
    background-size: cover; 
    height: 600px; 
} 

/* Jupiter */  
#jupiter-featured{
    background-image: url('https://www.sciencefriday.com/wp-content/uploads/2017/05/Thumb.jpg'); 
    background-size: cover; 
    height: 600px; 
} 

/* Saturn */  
#saturn-featured{
    background-image: url('https://media.istockphoto.com/id/1200463149/photo/artist-view-of-the-saturn-planet-and-its-moon-titan.jpg?s=170667a&w=0&k=20&c=G6N2kOi2XiNStQeZB0YRpOJm4YTBsZvFUz085Uc8ypk=');  
    background-size: cover; 
    height: 600px; 
} 

/* Uranus */ 
#uranus-featured{
    background-image: url('https://static.wikia.nocookie.net/masseffect/images/e/ec/Uranus.png/revision/latest?cb=20140921175827');  
    background-size: cover; 
    height: 600px; 
} 

/* Neptune */  
#neptune-featured{
    background-image: url('https://www.asc-csa.gc.ca/images/astronomie/systeme-solaire/neptune-2.jpg'); 
    background-size: cover; 
    height: 600px; 
}   

/* @media only screen and (max-width: 400px){
    .nav-link{
        font-size: 10px; 
    }
}   */   