*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-content; 
} 

header{
    display: flex;  
    flex-direction: column; 
    background-color: rgb(1, 1, 32); 
}   

.logo-container{
    display: flex; 
    justify-content: center;  
    padding: 10px; 
    margin-bottom: 5px; 
}  

.logo{
    font-family: Copperplate Gothic Light; 
    color: white; 
}

nav{
    display: flex; 
    justify-content: space-around; 
    border-top: 1px solid white; 
    padding: 10px; 
} 

.nav-link{
    color: white; 
    text-decoration: none; 
    font-family: Calisto MT;   
} 

/* Main content */ 
/* Night sky image */ 
#night-sky{
    background-image: url('./images/night-sky.jpeg'); 
    background-size: cover; 
    background-position: center; 
    width: 100%; 
    height: 600px; 
    display: flex; 
    flex-direction: column; 
    justify-content: space-around; 
}

.image-text{
    width: 100%; 
    display: flex; 
    justify-content: center; 
    align-items: center;  
    margin-top: 250px; 
} 

.image-text p{
    color: white; 
    font-size: 50px; 
    font-family: Calisto MT; 
    font-weight: bold; 
    padding: 5px; 
} 

#solar-bio{
    margin-top: 180px; 
    background-color: black; 
    display: flex; 
    align-items: flex-end; 
    height: 15  0px; 
    width: 100%; 
    justify-content: space-around; 
    opacity: .8; 
}  

.solar-fact{
    color: white; 
    font-size: 30px; 
    padding: 20px; 
}  